<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<style>
div.source-icon {
    float: left;
    margin-right: 15px;
}
</style>

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <div class="navbar-header">
        <div class="navbar-brand">Dicom Navigator</div>
      </div>
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/source">Source<span class="sr-only">(current)</span></a></li>
    </ul>
</nav>
</div>
<br/>

   <div class="row-fluid"> 
        <div class="span12">
            <img class="source-icon" src="/img/github.png" width="70" style="float: left">
            <h2>Download Source Code</h2>
            <p>Here <a href="https://github.com/dansat/">: GitHub</a></p>      
            </div>
    </div>

<br/>
<div class="row-fluid">
    <div class="span12">
        <img class="source-icon" src="img/github.png" width="70" style="float: left">
        <h2>Contact Me</h2>
        <p>Here<a href="mailto:dana.satriya@rwth-aachen.de">: E-Mail</a></p>
    </div>
</div>


<br/>


